<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>The Android's Dungeon &amp; Baseball Card Shop</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/form-elements.css">
        <link rel="stylesheet" href="css/login-style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">

        <!-- Javascript -->
        
        

    </head>

    <body ng-app="comicStore">
        <video autoplay loop startDate="5" poster="images/videobg.png" id="bgvid" muted>
            <source src="video/761879.mp4" type="video/mp4">
        </video>
        <!-- Top content -->
        <div class="top-content">
            
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>The Android's Dungeon &amp; Baseball Card Shop </strong> E-Shop</h1>
                            <div class="description">
                                <p>
                                    "There's  no emoticon for what I'm feeling"
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Login to our site</h3>
                                    <p>Enter your username and password to log on:</p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-key"></i>
                                </div>
                            </div>
                            <div class="form-bottom">

                                <form role="form" method="post" name="loginForm" class="login-form" ng-controller="loginController as logCtrl" ng-submit="logCtrl.doLogin()" novalidate>

                                    <div class="alert alert-danger" ng-show="logCtrl.error">
                                        <strong>Error!</strong> {{logCtrl.message}}.
                                    </div>


                                    <div class="form-group">
                                        <label class="sr-only" for="form-username">Username</label>
                                        <input type="text" name="form-username" placeholder="Username: barry.allen@ccpd.gov" class="form-username form-control" ng-model="logCtrl.user.formUser" id="form-username" required username>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-password">Password</label>
                                        <input type="password" name="form-password" placeholder="Password" class="form-password form-control" id="form-password" ng-model="logCtrl.user.formPassword" required password>
                                    </div> 
                                    <button type="submit" class="btn" ng-disabled="!loginForm.$valid">Sign in!</button>
                                </form>
                                <small>Not a member? <a href="#/register">Register free!</a></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>