
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap Registration Form Template</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/form-elements.css">
        <link rel="stylesheet" href="css/register-style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>

		<!-- Top menu -->
		<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">The Android's Dungeon &amp; Baseball Card Shop</a>
				</div>
			</div>
		</nav>

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 jumbotron">
                            <h1>Welcome To Our eshop</h1>
                            <div class="description">
                            	<p>
	                            	In this store you can buy, rent and share your favorite comic books
                            	</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    	<div class="col-sm-6 book">
                    		<img src="images/book_register.png" alt="">
                    	</div>
                        <div class="col-sm-5 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Register for free</h3>
                            		<p>Fill in the form below to get instant access:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-pencil"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" class="registration-form" ng-controller="registerController as regCtrl" ng-submit="regCtrl.doRegister()" name="registerForm" novalidate>
                                    <div class="alert alert-success" ng-show="regCtrl.success">
                                        <strong>Success!</strong> The user was registered succesfully.
                                        <br><a ng-href="#/">Click here to return to login page.</a>
                                    </div>
                                    <div class="alert alert-danger" ng-show="regCtrl.error">
                                        <strong>Error!</strong> {{regCtrl.message}}
                                    </div>
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-first-name">Name</label>
			                        	<input type="text" name="form-first-name" placeholder="Name and surname..." class="form-first-name form-control" ng-model="regCtrl.user.name" id="form-first-name" required>
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-last-name">Username</label>
			                        	<input type="text" name="form-last-name" placeholder="Username..." class="form-last-name form-control" ng-model="regCtrl.user.username" id="form-last-name" userregister required>
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Password</label>
                                        <input type="password" name="form-password" placeholder="Password" class="form-password form-control" id="form-password" ng-model="regCtrl.user.password" required passregister>
			                        </div>
			                        <button type="submit" ng-disabled="!registerForm.$valid" class="btn">Let's get it on!</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>