                            <div class="product">
                                <a>
                                    <img ng-src="{{comic.imagesrc}}" alt="" class="img-responsive" >
                                </a>
                                <div class="text">
                                    <h3>{{comic.name}}</h3>
                                    
                                    <div star-rating rating-value="comic.rating" max="5" ></div>
                                    
                                </div>

                                <p class="buttons text-center">
                                        
                                    <button class="btn btn-primary" ng-disabled="!comic.available"><i class="fa fa-shopping-cart"></i>Borrow</button>
                                </p>
                            </div>
                            <!-- /.text -->
							<div class="ribbon sale" ng-show="comic.available">
                                    <div class="theribbon">Avail.</div>
                                    <div class="ribbon-background"></div>
                            </div>

                            <div class="ribbon new" ng-show="comic.new">
                                    <div class="theribbon">NEW</div>
                                    <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->
                            </div>
                            <!-- /.product -->