
    <comicheader></comicheader>

     <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#/">Home</a>
                        </li>
                        <li>Disclaimer</li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <!-- *** PAGES MENU ***
 _________________________________________________________ -->
                    <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title">Pages</h3>
                        </div>

                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li>
                                    <a href="#/disclaimer">Disclaimer</a>
                                </li>
                                <li>
                                    <a href="#/sitemap">Site map</a>
                                </li>
                            </ul>

                        </div>
                    </div>

                    <!-- *** PAGES MENU END *** -->

                </div>

                <div class="col-md-9">

                    <div class="box" id="text-page">
                        <h1>Disclaimer</h1>

                        <p class="lead">According to articles 15 and 16 in the Federal Protection of Personal Data in posession of privates act, we disclaim that <strong>Oscar Ladino</strong> with address <strong>Insurgentes sur 859 Colonia Nápoles Mexico City, DF C.P. 03810</strong> is responsible of collecting your personal data, and its use and protection. </p>

                        <p>You have the right to Access, Correction and Delete of your personal information, and to oppose to the collection and treatment of them. </p>

                    </div>


                </div>
                <!-- /.col-md-9 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
    </div>
    

<footer-comics></footer-comics>