    <comicheader controller="searchCtrl"></comicheader>

    <div id="all">

        <div id="content">
            <div class="container">
                 <!-- SIDEBAR -->
                <div class="col-md-3">
                    <!-- *** MENUS AND FILTERS ***
 _________________________________________________________ -->
                    <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title">Custom Searches</h3>
                        </div>

                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked category-menu">
                                <li>
                                    <a>Qualifications </a>
                                    <ul >
                                        <li ng-repeat="top in searchCtrl.topRatings"><a ng-click="searchCtrl.addCriteria('name', top.name)">{{top.name}}</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="disabled">Top Searches  </a>
                                </li>
                                <li>
                                    <a class="disabled">Recommended</a>
                                </li>
                            </ul>

                        </div>
                    </div>

                    <div class="panel panel-default sidebar-menu" ng-controller="homeUserController as userCtrl">

                        <div class="panel-heading">
                            <h3 class="panel-title">User {{userCtrl.user.username}}<a class="btn btn-xs pull-right" ng-click="userCtrl.doLogOut()"><i class="fa fa-times-circle"></i>logout</a></h3>
                        </div>

                        <div class="panel-body">
                        	<ul class="nav nav-pills nav-stacked category-menu">
                                <li>
                                    <a ng-href="#/user">My account</a>
                                </li>

                                <li ng-show="userCtrl.admin">
                                    <a ng-href="#/admin">Manage Users</a>
                                </li>

                                <li ng-show="userCtrl.admin">
                                    <a class="disabled">Manage Comic Books</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default sidebar-menu" ng-show="searchCtrl.showSearchCriteria">

                        <div class="panel-heading">
                            <h3 class="panel-title">Search Criteria <a class="btn btn-xs pull-right" ng-click="searchCtrl.resetCriteria()"><i class="fa fa-times-circle"></i>Clear</a></h3>
                        </div>

                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked category-menu">
                                <li ng-repeat="nam in searchCtrl.criteria.name">
                                    <a ng-click="searchCtrl.removeCriteria('name', nam)"><i class="fa fa-times-circle">{{nam}}</i></a>
                                </li>

                                
                                <li ng-repeat="gen in searchCtrl.criteria.genres">
                                     <a ng-click="searchCtrl.removeCriteria('genres', gen)"><i class="fa fa-times-circle">{{searchCtrl.getCriteriaName('genres', gen)}}</i></a>
                                </li>
                                <li ng-repeat="ed in searchCtrl.criteria.editions">
                                     <a ng-click="searchCtrl.removeCriteria('editions', ed)"><i class="fa fa-times-circle">{{searchCtrl.getCriteriaName('editions', ed)}}</i></a>
                                </li>
                                <li ng-repeat="ch in searchCtrl.criteria.characters">
                                     <a ng-click="searchCtrl.removeCriteria('characters', ch)"><i class="fa fa-times-circle">{{searchCtrl.getCriteriaName('characters', ch)}}</i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>	
                <!-- END Side Bar-->

                <div class="col-md-9">
                    <div class="row products" ng-controller="comicsController as comicCtrl">

                        <div class="col-md-3 col-sm-6" ng-repeat="comic in filteredComics = (comicCtrl.comics | filterComics:{name: searchCtrl.criteria.name, genre:searchCtrl.criteria.genres, edition:searchCtrl.criteria.editions, characters:searchCtrl.criteria.characters, filter:searchCtrl.criteria.filter} )">
                            <product></product>
                        </div>
                        <div class="col-md-3 col-sm-6" ng-hide="filteredComics.length">
                            <h1>No items found</h1>
                        </div>
                    <!-- /.products -->
                    </div>
                </div>
            </div>
        </div>
    <footer-comics></footer-comics>
</div>
<!-- /#all -->