
    <comicheader></comicheader>

    <div id="all">

        <div id="content">
            <div class="container" ng-controller="userPageController as userCtrl">

                <div class="col-md-12">

                    <ul class="breadcrumb">
                        <li><a href="#/">Home</a>
                        </li>
                        <li>Manage Users</li>
                    </ul>

                </div>

                <div class="col-md-12" id="basket">

                    <div class="box">

                        <form>

                            <h1>List of users</h1>
                            <p class="text-muted">You currently have {{userCtrl.noOfUsers}} users(s) registered.</p>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Username</th>
                                            <th>Role</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="user in userCtrl.users">
                                            <td>
                                                {{user.name}}
                                            </td>
                                            <td>
                                                {{user.username}}
                                            </td>
                                            <td>
                                                {{user.role}}
                                            </td>
                                            <td>
                                                <a ng-click="userCtrl.delete(user.username)">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                                <a ng-show="!userCtrl.isAdmin(user)" ng-click="userCtrl.update(user, 'admin')">
                                                    <i class="fa fa-unlock"></i>
                                                </a>
                                                <a ng-show="userCtrl.isAdmin(user)" ng-click="userCtrl.update(user, 'user')">
                                                    <i class="fa fa-lock"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <!-- /.table-responsive -->

                        </form>

                    </div>
                    <!-- /.box -->

                </div>
                <!-- /.basket -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
    </div>

<footer-comics></footer-comics>

