
    <comicheader></comicheader>

     <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#/">Home</a>
                        </li>
                        <li>Site Map</li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <!-- *** PAGES MENU ***
 _________________________________________________________ -->
                    <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title">Pages</h3>
                        </div>

                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li>
                                    <a href="#/disclaimer">Disclaimer</a>
                                </li>
                                <li>
                                    <a href="#/sitemap">Site map</a>
                                </li>
                            </ul>

                        </div>
                    </div>

                    <!-- *** PAGES MENU END *** -->

                </div>

                <div class="col-md-9">

                    <div class="box" id="text-page">
                        <h1>Sitemap</h1>

                        <ul>
                            <li><a href="#/">Home</a></li>
                            <li><a href="#/user">My account</a></li>
                            <li><a href="#/disclaimer">Disclaimer</a></li>
                            <li><a href="#/sitemap">Site map</a></li>
                        </ul>
                    </div>


                </div>
                <!-- /.col-md-9 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
    </div>
    

<footer-comics></footer-comics>
