
    <comicheader></comicheader>

    <div id="all">

        <div id="content">
            <div class="container" ng-controller="userPageController as userCtrl">

                <div class="col-md-12">

                    <ul class="breadcrumb">
                        <li><a href="#/">Home</a>
                        </li>
                        <li>My account</li>
                    </ul>

                </div>

                <div class="col-md-12">
                    <div class="box">
                        <form>
                            <h1>My account</h1>
                            <p class="lead">Display your personal details here.</p>
                        
                            <h3>Personal details</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <em>Full Name: </em>
                                    <input type="text" id="name" ng-model="userCtrl.user.name" />
                                </div>
                                <div class="col-sm-6">
                                    <em>Username: </em>
                                    <span type="text" id="name" ng-bind="userCtrl.user.username"></span>
                                </div>
                            </div>
                            <!-- /.row -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <em>Role:</em>
                                    <span type="text" id="name" ng-bind="userCtrl.user.role"></span>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn-primary" ng-click="userCtrl.updateName()"><i class="fa fa-save"></i> Save changes</button>

                                </div>

                            </div>


                        </form>
                        <hr>
                       <h3>Change password</h3>

                        <form>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="password_old">Old password</label>
                                        <input type="password" class="form-control" id="password_old" ng-model="userCtrl.newPassword.oldPassword">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="password_1">New password</label>
                                        <input type="password" class="form-control" id="password_1" ng-model="userCtrl.newPassword.newPassword" passregister>
                                    </div>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn-primary" ng-click="userCtrl.updatePassword()"><i class="fa fa-save"></i> Save new password</button>
                                </div>
                            </div>
                            <!-- /.row -->

                            
                        </form>




                    </div>
                </div>


                

                <!-- /.basket -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
    </div>

<footer-comics></footer-comics>